.App {
	text-align: center;
	/* set height so that we can easily listen for clicks anywhere on the page
     - used for toggling search dropdown */
	height: 100vh;
	display: flex;
	justify-content: center;
	font-size: 10px;
	box-sizing: border-box;
}
